.image {
  display: block;
  position: relative;

  &.centered,
  &.centered img {
    align-self: center;
    display: block;
    flex: none;
  }

  &.rounded,
  &.rounded img {
    border-radius: 50%;
  }

  &.small,
  &.small img{
    width: 150px;
    height: 150px;
  }
}