body {
  font-size: @font-size;
}

a {
  color: @black;
  text-decoration: none;

  :hover {
    color: @black;
    text-decoration: none;
  }
}

h1 {
  font-size: @h1;
}

h2 {
  font-size: @h2;
}

h3 {
  font-size: @h3;
}

h4 {
  font-size: @h4;
}

h5 {
  font-size: @h5;
}